.bg-container{
    background-image: url(https://images.unsplash.com/photo-1614849286616-c93aea2f8f3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGdyYWRpZW50JTIwZ3JlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    height: 200vh;
    background-size: cover;
}
.card-items{
    text-align:center;
    font-weight: bold;
    color: forestgreen;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color:khaki;
    margin-bottom: 40px;
    margin-top: 40px;
}
.container-heading{
    font-family: Arial;
    font-weight: italic;
    color: forestgreen;
    text-align: center;
    
}